<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir CSV</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
    {% if messages %}
        <div class="form-group">
            <br>
            <div class="col-md-12">
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                     <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{ message|safe }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if detalles_formset.errors %}
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger msj-error">
          <button type="button" class="close msj-close" data-dismiss="alert">×</button>
          <ul>
          {% for error in detalles_formset.errors %}
            {% for field, error in error.items %}
                <li><strong>{{ field }}:</strong> {{ error|striptags }}</li>
            {% endfor %}
          {% endfor %}
          </ul>
      </div>
    </div>
  </div>
{% endif %}
{% if detalles_formset.non_field_errors %}
  <div class="row">
    <div class="col-md-12">
       <div class="alert alert-danger msj-error">
          <button type="button" class="close msj-close" data-dismiss="alert">×</button>
          <ul>
              <li>{{ detalles_formset.non_field_errors }}</li>
          </ul>
       </div>
    </div>
  </div>
{% endif %}
    <div class="container mt-5">
        <h1 class="text-center">Subir Archivo CSV</h1>
        <p class="lead text-muted">El archivo CSV debe tener los campos en el siguiente orden: </p>
        <ol>
            <li>descripcion (str)</li>
            <li>cantidad (int)</li>
            <li>precio (float)</li>
            <li>fecha (str: YYYY-MM-DD HH:MM:SS)</li>
        </ol>
        <p style="font-size: 0.9em">
            <b>Ejemplo:</b><br>
            descripcion,cantidad,precio,fecha<br>
            Cucharas,6,1.20,2025-01-29 13:31:13
        </p>
        <hr>
        <form action="" method="post" enctype="multipart/form-data" class="mt-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Subir</button>
        </form>
        <hr>
        <a href="{% url 'base:grafico' %}" class="btn btn-warning btn-sm">Ver graficos</a>
    </div>
</body>
</html>